- hosts: localhost
  tasks:
      - name: Deploy the service
        k8s:
            state: present
            definition: "{{ lookup('template', '../k8s/service.yaml') | from_yaml }}"
            validate_certs: no
            namespace: default
      - name: Deploy the application
        k8s:
            state: present
            validate_certs: no
            namespace: default
            definition: "{{ lookup('template', '../k8s/deployment.yaml') | from_yaml }}"
